#cookies {
  position: fixed;
  bottom: -30rem;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  background-color: #fffffff9;
  box-shadow: 0 0 18px rgba(0,0,0,.230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cookies.show {
  animation: showCookiesPolicy 1s forwards;
}
.cookies.hidden {
  animation: closeCookiesPolicy 1s forwards;
}
@keyframes showCookiesPolicy {
  0% { bottom: -30rem; }
  100% { bottom: 0; }
}
@keyframes closeCookiesPolicy {
  0% { bottom: 0; }
  100% { bottom: -30rem; }
}
#cookies .cookiesHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: .4rem;
  padding: 0;
  width: 90%;
}
#cookies .cookiesHeader p {
  font-size: 1rem;
  font-weight: bold;
  color: #3a3a3a;
}
#cookies .cookiesHeader i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

#cookies .cookiesDescription {
  width: 90%;
}
#cookies .cookiesDescription p {
  text-align: justify;
  color: #000000;
  font-size: 1rem;
}
#cookies .cookiesDescription p strong {
  font-size: 1rem;
  color: var(--tertiary-color);
  transition: .2s;
}
#cookies .cookiesDescription p strong:hover {
  cursor: pointer;
  color: var(--quintenary-color);
}

#cookies .footer {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding-top: 0.4rem;
}
#cookies .footer .cookieBtn {
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  transition: .3s;
}
#cookies .footer .cookieBtn:hover {
  cursor: pointer;
  font-size: 0.9rem;
}
#cookies .footer .cookieBtn.decline {
  background-color: #bababa;
}
#cookies .footer .cookieBtn.decline:hover {
  background-color: #858585;
}
#cookies .footer .cookieBtn.accept {
  background-color: var(--tertiary-color);
}
#cookies .footer .cookieBtn.accept:hover {
  background-color: #1b4584;
}