#feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#feedback h3 {
  font-size: 3rem;
  margin: 5rem 0 2rem 0;
  text-align: center;
  color: var(--secondary-color);
}
#feedback .feedbackBox {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: none;
  border-radius: 14px;
  margin: 1.2rem 0;
  padding: 1rem 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 18px rgba(0,0,0,.150);
}
#feedback .feedbackBox .studentImage {
  /* width: 15%; */
  width: 20%;
  height: 100%;
  margin-right: 1rem;
}
#feedback .feedbackBox .studentImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 15px;
  /* border-radius: 50%; */
}
#feedback .feedbackBox .coment {
  width: 70%;
}
#feedback .feedbackBox .coment p {
  font-size: 1.1rem;
  font-family: var(--nexa-light);
  font-weight: light;
  color: #646464;
}
#feedback .feedbackBox .coment h4 {
  font-size: 0.8rem;
  /* margin: 0.8rem 0; */
  margin-top: 1rem;
  color: #4b4b4b;
  text-align: end;
}
#feedback .feedback-button {
  margin: 3rem 0 3rem 0;
}