/*REGIONS STYLE*/

#regions {
    margin: 0;
    padding: 2.2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFFF;
}
#regions h3 {
    text-align: center;
    font-size: 2.3rem;
    color: var(--secondary-color);
    margin: 1rem 0;
    padding: 0;
}
#regions .regions-strong {
    font-size: 3rem;
}
#regions .partners {
    width: 85%;
    margin: 1rem 0 1.8rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#regions .partners img {
    margin: 1rem;
    width: 12rem;
}
#regions button {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.2rem;
}